body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: white;
    direction: rtl;
}

.logo {
    width: 230px;
    margin: 20px auto;
    display: block;
}

h1 {
    color: #004f9f;
    margin-top: 10px;
}

p {
    font-size: 20px;
}

.label {
    font-size: 20px;
    margin-top: 15px;
    display: block;
}

select {
    font-size: 20px;
    padding: 8px;
    margin: 10px auto 25px auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.btn {
    font-size: 28px;
    padding: 15px 40px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    width: auto; /* רוחב מותאם למלל */
}

.yes {
    background-color: #005ca8;
    color: white;
}

.no {
    background-color: #ff8c00;
    color: white;
}
